@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap"); */

@font-face {
  font-family: "Helvetica";
  src: url(/public/fonts/Helvetica.ttf);
}

body {
  font-family: "Helvetica";
  overflow: hidden;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@layer components {
  .snackbar {
    @apply invisible sm:min-w-[250px] min-w-[50px] sm:ml-[-125px] ml-[-50px]  bg-[#333] opacity-[0.7] text-[#fff] text-center rounded-[2px] p-[16px] fixed z-[1] sm:left-[50%] left-[17%] bottom-[30px] text-[17px];
  }

  .modal {
    @apply h-[100vh] sm:w-[360px] w-full float-right bg-white transition ease-in-out duration-700 delay-700;
  }
  .overlay-search {
    @apply bg-[rgba(0,0,0,0.75)] fixed top-0 w-[100%] h-[100vh] z-[9999];
  }
  .product {
    @apply rounded-lg my-[2px] mx-4 border-[1px] border-solid border-[#f2f2f2];
  }
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .shadow-top {
      box-shadow: 0px -10px 28px -9px rgba(0, 0, 0, 0.78);
    }
    .search-modal {
      -webkit-animation-name: OverlyfadeIn; /* Fade in the background */
      -webkit-animation-duration: 0.5s;
      animation-name: OverlyfadeIn;
      animation-duration: 0.5s;
    }

    .overlay {
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      -webkit-animation-name: OverlyfadeIn; /* Fade in the background */
      -webkit-animation-duration: 0.5s;
      animation-name: OverlyfadeIn;
      animation-duration: 0.5s;
    }
    .modal {
      position: fixed;
      right: 0;
      background-color: #fefefe;

      height: 100vh;
      -webkit-animation-name: slideIn;
      -webkit-animation-duration: 0.4s;
      animation-name: slideIn;
      animation-duration: 0.4s;
    }

    .modal-header {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }

    .modal-body {
      padding: 2px 16px;
    }

    .modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    /* add animation overlay*/
    @-webkit-keyframes OverlyfadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes OverlyfadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    /* animation modal*/
    @-webkit-keyframes slideIn {
      from {
        right: -360px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }

    @keyframes slideIn {
      from {
        right: -360px;
        opacity: 0;
      }
      to {
        right: 0;
        opacity: 1;
      }
    }

    .show {
      visibility: visible;
      -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @-webkit-keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        bottom: 0;
        opacity: 0;
      }
      to {
        bottom: 30px;
        opacity: 1;
      }
    }

    @-webkit-keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }

    @keyframes fadeout {
      from {
        bottom: 30px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
